* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #555;
}

.flex {
  display: flex;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
}

.mobile-buttoms {
  width: 60px;
  margin-right: 15px;
  align-self: center;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 50px;
  width: 100px;
}

.logoImg {
  height: 30px;
}

.menus {
  font-family: 'roboto', 'Courier New', Courier, monospace;
  display: none;
  width: 100%;
}

.top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 32px;
  background-color: #000;
}

.bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.menu-items,
.menu-items2 {
  margin-right: 10px;
}

.menu-items li {
  margin-right: 9.5px;
  margin-left: 9.5px;
}

.menu-items2 li {
  margin-right: 9.5px;
  margin-left: 9.5px;
}

.menu-items a {
  font-size: 13px;
  color: white;
  text-decoration: none;
}

.menu-items2 a {
  font-size: 14px;
  color: #A9A9B0;
  text-decoration: none;
}

.calling {
  display: flex;
  background-color: #FFDD33;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  white-space: nowrap;
}

.calling a {
  font-family: 'roboto', 'Courier New', Courier, monospace;
  color: #000;
  text-decoration: none;
  font-size: 13px;
  font-weight: 300;
}

.top-news {
  display: grid;
  grid-template-areas:
    "top-news1"
    "top-news2"
    "top-news3";
    height: auto;
  grid-gap: 10px;
  margin-right: 8px;
  margin-left: 8px;
}

.top-news1 {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: end;
  font-family: 'roboto', 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 900;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bgtopnews1.webp), center;
  background-size: cover;
  grid-area: top-news1;
}

.news-logo {
  display: none;
}

.tn-author {
  font-size: 12px;
  font-weight: 400;
  color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tittle,
.tn-author {
  margin-left: 10px
}

.top-news2 {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: end;
  font-family: 'roboto', 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 900;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bgtopnews2.jpg) center;
  background-size: cover;
  grid-area: top-news2;
}

.top-news3 {
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: end;
  font-family: 'roboto', 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: 900;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/bgtopnews3.webp) center;
  background-size: cover;
  grid-area: top-news3;
}

@media only screen and (min-width: 768px) {

  nav {
    display: flex;
    justify-content: start;
  }

  .logo {
    height: 80px;
    width: 100px;
  }

  .menus {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .mobile-buttoms {
    display: none;
  }


  .calling {
    height: 30px;
    justify-content: left;
  }

  .calling a {
    margin-left: 100px
  }

  .top-news {
    grid-template-areas:
      "top-news1 top-news1 top-news2"
      "top-news1 top-news1 top-news2"
      "top-news1 top-news1 top-news3"
      "top-news1 top-news1 top-news3";
      min-width: 100%;
      min-height: 50vh;
  }
  
}

@media only screen and (min-width: 1065px) {
  nav {
    height: 80px;
  }

  .logo {
    display: none;
  }

  .menu-items,
  .menu-items2 {
    margin-left: 10px;
  }

  .calling a {
    margin-left: 20px
  }

  .news-logo {
    display: flex;
    height: 100%;
    background-image: url(../assets/cover-gradient.webp);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
  }

  .news-logo img {
    height: 25%;
    margin-top: 15px;
  }


}

@media only screen and (max-width: 768px) {

  .top-news1,
  .top-news2,
  .top-news3 {
    height: 28vh;
  }

}