* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: #555;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttomsWrap {
  width: 60px;
  margin-right: 15px;
}

.logo {
  display: flex;
  align-items: center;
  background-color: #000000;
  height: 50px;
}

.logoImg {
  height: 30px;
}